{
  "server_url": "https://dayz-map.gto-team.uz",
  "client_key": "",
  "monitor_index": 1,
  "ocr_region": [210, 915, 330, 945],
  "mouse_nudge_before_ocr": true,
  "mouse_nudge_side": "left",
  "mouse_nudge_delay_ms": 350,
  "mouse_nudge_restore": true
}
