pillow==11.0.0
keyboard==0.13.5
httpx==0.28.1
mss==10.0.0
pyinstaller==6.11.1
winrt-runtime==2.3.0
winrt-Windows.Media.Ocr==2.3.0
winrt-Windows.Graphics.Imaging==2.3.0
winrt-Windows.Storage.Streams==2.3.0
winrt-Windows.Globalization==2.3.0
winrt-Windows.Foundation==2.3.0
winrt-Windows.Foundation.Collections==2.3.0
numpy==2.2.1
onnxruntime==1.20.1
rapidocr==3.4.0
pytesseract==0.3.13
pystray==0.19.5
